<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>
<h1>portfolio here</h1>
<form action="enterportfolio" method="post">
    {% csrf_token %}
    <select name="stock_name" placeholder="Stock Name" required>
        <option value="NULL">Enter Stock Name</option>
        <option value="ADANIPORTS">Adani Ports and Special Economic Zone Ltd.</option>
        <option value="ASIANPAINT">Asian Paints Ltd.</option>
        <option value="AXISBANK">Axis Bank Ltd.</option>
        <option value="BAJAJ-AUTO">Bajaj Auto Ltd.</option>
        <option value="BAJFINANCE">Bajaj Finance Ltd.</option>
        <option value="BAJAJFINSV">Bajaj Finserv Ltd.</option>
        <option value="BPCL">Bharat Petroleum Corporation Ltd.</option>
        <option value="BHARTIARTL">Bharti Airtel Ltd.</option>
        <option value="INFRATEL">Bharti Infratel Ltd.</option>
        <option value="BRITANNIA">Britannia Industries Ltd.</option>
        <option value="CIPLA">Cipla Ltd.</option>
        <option value="COALINDIA">Coal India Ltd.</option>
        <option value="DRREDDY">Dr. Reddy's Laboratories Ltd.</option>
        <option value="EICHERMOT">Eicher Motors Ltd.</option>
        <option value="GAIL">GAIL (India) Ltd.</option>
        <option value="GRASIM">Grasim Industries Ltd.</option>
        <option value="HCLTECH">HCL Technologies Ltd.</option>
        <option value="HDFCBANK">HDFC Bank Ltd.</option>
        <option value="HEROMOTOCO">Hero MotoCorp Ltd.</option>
        <option value="HINDALCO">Hindalco Industries Ltd.</option>
        <option value="HINDUNILVR">Hindustan Unilever Ltd.</option>
        <option value="HDFC">Housing Development Finance Corporation Ltd.</option>
        <option value="ICICIBANK">ICICI Bank Ltd.</option>
        <option value="ITC">ITC Ltd.</option>
        <option value="IOC">Indian Oil Corporation Ltd.</option>
        <option value="INDUSINDBK">IndusInd Bank Ltd.</option>
        <option value="INFY">Infosys Ltd.</option>
        <option value="JSWSTEEL">JSW Steel Ltd.</option>
        <option value="KOTAKBANK">Kotak Mahindra Bank Ltd.</option>
        <option value="LT">Larsen & Toubro Ltd.</option>
        <option value="M&M">Mahindra & Mahindra Ltd.</option>
        <option value="MARUTI">Maruti Suzuki India Ltd.</option>
        <option value="NTPC">NTPC Ltd.</option>
        <option value="NESTLEIND">Nestle India Ltd.</option>
        <option value="ONGC">Oil & Natural Gas Corporation Ltd.</option>
        <option value="POWERGRID">Power Grid Corporation of India Ltd.</option>
        <option value="RELIANCE">Reliance Industries Ltd.</option>
        <option value="SBIN">State Bank of India</option>
        <option value="SUNPHARMA">Sun Pharmaceutical Industries Ltd.</option>
        <option value="TCS">Tata Consultancy Services Ltd.</option>
        <option value="TATAMOTORS">Tata Motors Ltd.</option>
        <option value="TATASTEEL">Tata Steel Ltd.</option>
        <option value="TECHM">Tech Mahindra Ltd.</option>
        <option value="TITAN">Titan Company Ltd.</option>
        <option value="UPL">UPL Ltd.</option>
        <option value="ULTRACEMCO">UltraTech Cement Ltd.</option>
        <option value="VEDL">Vedanta Ltd.</option>
        <option value="WIPRO">Wipro Ltd.</option>
        <option value="YESBANK">Yes Bank Ltd.</option>
        <option value="ZEEL">Zee Entertainment Enterprises Ltd.</option>




    </select>
        <br>
    <input type="number" name="quantity" placeholder="Number of Stocks" required><br>
    <input type="date" name="date" placeholder="Date of Purchase" required><br>
    <input type="text" name="transaction" value="buy" readonly="" style="visibility:hidden"><br>
       <!--<div>
        <input type="radio" name="transaction" value="buy" required>BUY<br>
        <input type="radio" name="transaction" value="sell" required>SELL<br>
        <input type="radio" name="transaction" value="watchlist" required>ADD TO WATCHLIST<br>
       </div>-->
    <input type="submit">

</form>
</body>
</html>