<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STOCKS</title>
</head>
<body>
    {% for record in sell_record %}
    {% for s_record in stock_record %}
        {% if record.stockname == s_record.stockname %}
            {{s_record.stockname_full}}
            <form action="{% url 'showAnalysis' %}" method="post">
                {% csrf_token %}
                <button type="submit" value={{s_record.stockname}} name="button1">{{s_record.stockname}}</button>
            </form>
        {% endif %}
    {% endfor %}
{% endfor %}
</body>
</html>